<br>
<h1>Dashboard</h1><br>
<div class="border border-dark rounded border-3 dashboard-stats">
  <div class="border border-end stat">
    <h2>Product Count</h2>
    <h3><%= @products %></h3>
  </div>
  <div class="border border-start stat">
    <h2>Category Count</h2>
    <h3><%= @categories %></h3>
  </div>
</div>
